<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="lang" class="com.ddlab.rnd.ka.impl.KannadaLang"/>
    
    <bean id="culture" class="com.ddlab.rnd.ka.impl.KarnatakiCulture"/>
    
    <bean id="info" class="com.ddlab.rnd.ka.impl.KarnatakInfo">
    	<constructor-arg ref="lang"/>
    	<constructor-arg ref="culture"/>
    </bean>
    
    <bean id="state" class="com.ddlab.rnd.ka.impl.KarnatakState">
        <constructor-arg ref="info"/> 
    </bean>

</beans>